<html>
<h1>Kundenverwaltung</h1>
<ng-form #myForm="ngForm" *ngIf="selectedKunde">
  <mat-form-field><input matInput [(ngModel)]=selectedKunde.name placeholder="Name" name="name"/></mat-form-field>
  <mat-form-field><input matInput [(ngModel)]=selectedKunde.vorname placeholder="Vorname" name="vorname"/></mat-form-field>
  <mat-form-field><input matInput [(ngModel)]=selectedKunde.geburtsdatum name="geburtsdatum"/></mat-form-field>
</ng-form>
<mat-list role="list">
  <mat-list-item role="listitem" *ngFor="let kunde of kunden" (click)="onSelect(kunde)">
    <span class="badge">{{kunde.id}}</span> {{kunde.name}}
  </mat-list-item>
</mat-list>

<table mat-table [dataSource]="kunden" class="mat-elevation-z8" width="100%">
  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID</th>
    <td mat-cell *matCellDef="let kunde"> {{kunde.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let kunde"> {{kunde.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="vorname">
    <th mat-header-cell *matHeaderCellDef> Vorname</th>
    <td mat-cell *matCellDef="let kunde"> {{kunde.vorname}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="geburtsdatum">
    <th mat-header-cell *matHeaderCellDef> Geburtsdatum</th>
    <td mat-cell *matCellDef="let kunde"> {{kunde.geburtsdatum}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onSelect(row)"></tr>
</table>

<app-kunden-detail></app-kunden-detail>
</html>
